.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    width: 300px;
    min-width: 50px;
}

.price {
    margin-right: 20px;
    width: 100px;
    text-align: right;
}

.name {
    margin-left: 20px;
}

.quantcontainer {
    display: flex;
    flex-direction: row;
}

.minus {
    margin-left: 10px;
    margin-right: 10px;
}

.plus {
    margin-left: 10px;
    margin-right: 10px;
}

