.topcontainer {
    min-width: 500px;
    box-shadow: -5px 0px 6px -3px #d1d1d1;
    position: relative;
    overflow-y: scroll;
    border-top: solid black 20px;
    border-radius: 18px;
    flex-grow: 1;
}

.title {
    text-align: center;
    margin: 2vh;
    font-size: 3vh;
}

.footcontainer {
    position: relative;
    min-width: 500px;
    width: 500px;
    box-shadow: -5px 0px 6px -3px #d1d1d1;
    font-size: 30px;
    border-bottom: solid black 20px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.name {
    width: 80%;
    text-align: center;
    border: 1px black solid;
    margin-bottom: 1vw;
    margin-top: .5vw;
}

#checkout {
    text-align: center;
    width:60%
}

.container {
    width: 500px;
    max-height: calc(100vh - 114px);
    position: sticky;
    top: 114px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.total {
    text-align: center;
    padding-top: 30px;
}

@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }
}
