.container {
    display: flex;
    flex-direction: column;
}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    font-weight: bold;
    margin: 5px;


}

.couple {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option {
    margin-left: 10px;
}

.radio {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}
.singlePrice {
    position: absolute;
    width:100px;
    left: 50px;
    top: 50px;
    font-weight: bold;
}

@media only screen and (max-width: 1323px) {
    .singlePrice {
        position: relative;
        left: 0px;
        top: auto;
        font-weight: bold;
    }

}