.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    width: 300px;
    min-width: 50px;
}

.price {
    margin-right: 20px;
    width: 100px;
    text-align: right;
}

.name {
    margin-left: 20px;
}

.quantcontainer {
    display: flex;
    flex-direction: row;
    height: 30px
}

.minus {
    margin-left: 10px;
    margin-right: 10px;
}

.plus {
    margin-left: 10px;
    margin-right: 10px;
}

.outer {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1vh;
    margin: 5px;
}

.notes {
    position: relative;
    margin-top: 1vh;
    margin-left: 20px
}

