.topcontainer {
    min-width: 500px;
    box-shadow: -5px 0px 6px -3px #d1d1d1;
    position: relative;
    overflow-y: scroll;
    border-top: solid black 20px;
    border-radius: 18px;
    min-height: 70%;
}

.title {
    text-align: center;
    margin: 2vh;
    font-size: 3vh;
}

.footcontainer {
    position: relative;
    min-width: 500px;
    width: 500px;
    box-shadow: -5px 0px 6px -3px #d1d1d1;
    font-size: 30px;
    border-bottom: solid black 20px;
    border-radius: 18px;
    min-height: 30%;


}

.container {
    width: 500px;
    max-height: calc(100vh - 154px);
    position: sticky;
    top: 154px;
}

.total {
    text-align: center;
    padding-top: 30px;
}


