#open {
    margin: 0;
    font-size: 3vh;
    text-align: center;
    position: absolute;
    top: 800px;
    z-index: 5;
    width: 100vw;
}

.homePhoto {
    width: 100vw;
}

.mark {
    background-color: white;
    opacity: 60%;
}
