.topcontainer {
    box-shadow: -5px 0px 6px -3px #d1d1d1;
    position: relative;
    overflow-y: scroll;
    border-top: solid black 20px;
    border-radius: 18px;
    height: 55%;

}

.title {
    text-align: center;
    margin: 2vh;
    font-size: 3vh;
}

.footcontainer {
    position: relative;
    box-shadow: -5px 0px 6px -3px #d1d1d1;
    font-size: 30px;
    border-bottom: solid black 20px;
    border-radius: 18px;
    min-height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.checkout {
    text-align: center;
}

.container {
    width: 100vw;
    height: calc(100vh - 114px);
    position: fixed;
    top: 114px;
    background-color: white;
    z-index: 99999;
}

.total {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 2vh;
}

.name {
    width: 80%;
    text-align: center;
    border: 1px black solid;
    margin: 1vw;
}