.routes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2vw;
}

.endMargin {
    margin-left: 20px;
    margin-right: 20px;
}

.cart {
    display: none;
}

.numItems {
    display: none;
}

#font {
    font-size: 20px;
    color: black;
    margin: 1vw;
}

#font:hover {
    color: #f18701;
}

@media only screen and (max-width: 768px) {
.routes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cart {
    display:inline;
    width: 45px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    top: 12px;
}

.cart:hover {
    opacity:50%;
}

.endMargin {
    margin-right: 20px;
}

#logo {
    margin-left: 0;
}

.numItems {
    position: relative;
    display:block;
    height: 25px;
    width: 25px;
    background-color: rgb(208, 11, 11);
    border-radius: 50%;
    text-align: center;
    color:white;
    font-weight: bold;
    bottom: 5px;
    left: 30px;
    
}

}
