.container {
    display: flex;
    flex-direction: row;
}

.menu {
    min-width: calc(100% - 500px);
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    min-width: calc(100% - 500px);
    min-height: 100vh;

}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttondesc {
    text-align: center;
    margin-bottom: 2vh;
}

.scrollContainer {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: sticky;
    top: 114px;
    background-color: white;
    z-index: 10000;
}

.scrollItem {
    white-space: nowrap;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
}

.scrollItem:hover {
    color: #f18701;
}
