.container {
    display: flex;
    flex-direction: row;
}

.menu {
    min-width: calc(100% - 500px);
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    min-width: calc(100% - 500px);

}

.buttoncontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttondesc {
    text-align: center;
    margin-bottom: 2vh;
}