.entryname {
    left: 15px;
    top: 3px;
    position: absolute;
    font-weight: bold;
}

.price {
    position: absolute;
    top: 68px;
    left: 15px;
}

.entrydesc {
    top: 28px;
    position: absolute;
    left: 15px;
    margin: 0;
    line-height: 95%;
    padding-right: 15px;
    font-size: 14px;

}

.entry {
    border: 3px solid black;
    border-radius: 5px;
    width: 400px;
    height: 125px;
    margin: 1.5vw;
    position: relative;
    cursor:pointer;
    max-width:372px;
    max-height: 102px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.title {
    margin: 15px;
    font-size: 20px;
}

.entry:hover{
    border: 3px solid red;

}

@media only screen and (max-width: 1323px) {
    .row {
        justify-content: center;
        width: 100%;
    }

    .entry {
        width: 90vw;
    }

}