.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.logoContainer {
    height: 50vh;
    width: 35vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-size: 90px;
    text-align: center;

}

.body {
    font-size: 2.5vh;

}

.homePhoto {
    height: 100%;
    width: auto;
    margin: auto;
    max-width: 100%;
    object-fit: contain;
}

.mobileLogo {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobileLogo {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        bottom: 25vh;
        text-shadow: 5px 5px 5px #000000;
    }

    .homePhoto {
        height: 100%;
        width: auto;
        margin: auto;
        object-fit: contain;
        position: relative;
        background-color: black;
        
    }

   
    


    .noMobile {
        display: none;
    }
}