.container {
    height: 50vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.logoContainer {
    height: 50vh;
    width: 35vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-size: 90px;
    text-align: center;

}

.body {
    font-size: 2.5vh;

}

.homePhoto {
    height: 50vh;
    width: 65vw;
    max-width: 100%;
    object-fit: cover;
    object-position: 100% 55%;
}

.mobileLogo {
    display: none;
}

@media only screen and (max-width: 768px) {
    .mobileLogo {
        position: relative;
        display: flex;
        flex-direction: column;
        color: white;
        bottom: 25vh;
        text-shadow: 5px 5px 5px #000000;
    }

    .homePhoto {
        width: 100%;
        object-fit: cover;
        object-position: 0% 100%;
    }

    .header {
        font-size: 90px;
        text-align: center;
        line-height: 1;
        position: relative;
        bottom: 165px;

    
    }
    
    .body {
        font-size: 2.5vh;
        text-align: center;
        position: relative;
        bottom: 170px;
    
    }


    .noMobile {
        display: none;
    }
}